@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    height: 100vh;
    
      }
     .logo-size{
       font-size: 30px;
       font-family: 'Ubuntu', sans-serif;
     }
      .title{
          padding-left: 750px;
          padding-top: 15px;
      }
      .title-color{
          color: #dc3545; 
      }
    
    .first-div{
        padding-top: 190px;
    }
    .second-div{
        padding-top: 20px;
    }
    #header-welcome {  
      background-image: url(../images/backImage.png); /* The image used */
      background-color: #cccccc; /* Used if the image is unavailable */
      height: 100vh; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
    .span{
        color: #C53F3F;
    }
    .btn-color{
        background-color:#C53F3F;
        color: white;
        
    }
    .parag-padd{
        padding-top: 20px;
        padding-bottom: 5px;
    }