body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    
}
/*navbar*/
.navbar{
    padding-left: 90px;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    }
  .navbar-brand{
    font-size: 30px;
  }
  .navbar-nav{
   padding-left: 600px;
    font-size: 16px;
  }
    
  li{
      padding-left: 30px;
  }
   
  .color-logo{
      color: #F28A80;
      padding-left: 5px;
      font-family: 'Josefin Sans', sans-serif;
  }
  .center-logo{
      padding-left: 140px;
  }
  .menubtn{
      margin-right: 60px;
  }
  .mainheader button{
      padding: 10px 45px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      border: none;
      background-image:linear-gradient(to right, #F28A80,#63B6BF);
      border-radius: 10px;
  }
  
  .mainheader button:hover{
      color: white;
      background-image:linear-gradient(to right, #63B6BF,#F28A80);
  }
  


.title-color{
    color:#F27289;
    
}
.title{
   text-align: center;
   padding-top: 20px;
}
.center-logo{
    padding-left: 20px;
}
.nav-item{
    padding-left: 60px;
}
.navbar-nav{
    padding-left: 800px;
}
.color-logo{
    color: #024959;
    padding-left: 10px;
}
.search{
    background-image: url('../../img/search.png');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Seaarch photo and input*/ 
.logo-search{
    padding-left: 180px;
    padding-top: 90px;
}
.input-style{
    padding-left: 70px;
    padding-right: 70px;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
  }
  .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F27289;
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:#63B6BF;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }
  /* optional reset for presentation */
 
  .container {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

